<head>




<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif; text-align: justify;
}



</style>
</head>
<body>



<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div  class="w3-main" style="margin-left:200px">

    <div class="w3-row w3-padding-60">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Michigan Avenue corridor Improvement Authority: </h1>
      <h2>Development and Tax Increment Financing Plan</h2>
       <br>

      <p>In 2009 the Lansing City Council approved the establishment of the Michigan Avenue Corridor
Improvement Authority (MACIA) with the goals to correct and prevent deterioration in the
business districts, redevelop the city’ commercial corridors and promote economic growth.
This Authority will allow for the reinvestment of property tax growth back into the corridor,
improving public facilities such as bus shelters, streetscape, pedestrian infrastructure, develop
plans, and other activities to accomplish these goals, as enumerated per section 611 of PA 57
2018. <br><br>
In the effort of revitalizing the Michigan Avenue Corridor, there have been several studies
completed soliciting input from residents, property owners, stakeholders, municipal staff and
public officials. Based on these past efforts, MACIA board created a plan of action to improve the
built and social environment of the corridor for all current and future residents and businesses. <br><br>
In development of this plan, the Authority identified several key principles that were used in
creation of the plan and are supported by the City’s Master Plan to transform the visually
unappealing character of the corridor, to encourage pedestrians and market the quality of the
adjacent neighborhoods as attractive, livable and sustainable community gateways. These
principles are: <br><br>
 Traditional Neighborhood Design – Encouraging active lifestyles (walking or biking)
Transit-Oriented Design – Compact, walkable, pedestrian-oriented, mixed-use corridor.
 Complete Streets – Safe transit for all users of streets (pedestrians, bicyclists, public
transit users, and automobile drivers)
This Development and Tax Increment Financing Plan arranges projects into three categories –
public infrastructure, correct and prevent deterioration, and promote neighborhood aligned
economic growth. <br><br>
In the first year, the Authority plans to make strides in each of these categories – Improvement
of streetscape (bike racks, receptacles, and benches) to facilitate the use of public transit stations
such as bus stops, continue to create an inventory of existing businesses, pursue grant funding
for future development projects and continue to develop a communication strategy. <br><br>
The approval of the MACIA Development and TIF plan will allow for the Authority to begin its first
steps in executing upon the vision set forth by the corridor’s residents, businesses, and other
stakeholders.</p>
    </div>

  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

  </div>

</div>


</body>
